/* Style for the navbar */
.navbar {
  display: flex;
  justify-content: flex-start;  /* Aligns content to the left */
  padding: 10px 20px;
  background-color: #fff;  /* Background color for the navbar */
}

.logo {
  width: 50px;  /* Adjust size of the logo */
  height: auto;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* Other styles for auth container */
.auth-container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: #fff;

}
.auth-left {
  flex:1;
  margin-top: 2rem;
  padding-top:3rem ;
  padding-left: 10rem;
}
.auth-right{
  padding-right: 40rem;
}

.auth-section {
  text-align: left;
  max-width: 800px;
  width: 100%;
  padding-left: 1rem;
}

.toggle-link {
  color: #5A4FF2;
  cursor: pointer;
  font-weight: bold;
}

